In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from os.path import isfile
import pickle
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold
import re
import numpy as np

%matplotlib inline

sns.set_style(style='white')
sns.set_palette(sns.color_palette("Dark2"))

# **Анализ данных.**

In [2]:
def proceed_cat_str(in_cat: pd.Series):
    
    res_cat = in_cat.map(
        lambda x: str.upper(x).strip() if type(x) is str else np.NaN
    )

    return res_cat

In [3]:
src_train = pd.read_csv('./data/train.csv')
src_test = pd.read_csv('./data/test.csv')

In [4]:
src_df = pd.concat([src_train, src_test], ignore_index=True).reset_index()
src_df.drop(['index'], inplace=True, axis=1)
print(src_df.shape)

(1309, 12)

In [5]:
print(src_df.isna().sum())

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

Разберемся с названиями столбцов и что это значит.
1. Survived - выжил человек или нет.
2. Pclass - класс каюты.
3. Name - имя.
4. Sex - пол.
5. Age - возраст.
6. SibSp - количество родственников второго порядка. Муж, жена, братья, сестры.
7. Parch - количество родственников первоко порядка. Мать, отец, ребенок.
8. Ticket - номер билета.
9. Fare - цена билета.
10. Cabin - каюта.
11. Embarked - порт посадки. C - Cherbourg. Q - Queenstown. S - Southampton.

Пол кодируется очевидно.

In [6]:
sex_cat = {'male': 0, 'female': 1}
src_df['Sex'] = src_df['Sex'].map(sex_cat).astype('int')

Поскольку одно отсутствуещее значение цены билета принадлежит дядьке без родственников в третьем классе, присвоим ему среднее по третьему классу.

In [7]:
src_df['Fare'] = src_df['Fare'].fillna(src_df.groupby(['Pclass']).Fare.median()[3])

Пропущенное значение посадки можно просто нагуглить. Тупо в каком порту эти люди сели.

In [8]:
src_df['Embarked'] = src_df['Embarked'].fillna('S')

In [9]:
embarked_cat = dict(enumerate(src_df['Embarked'].astype('category').cat.categories))
src_df['Embarked'] = src_df['Embarked'].astype('category').cat.codes

Интересно, что есть нулевые цены билетов. Нужно взглянуть.

In [10]:
zero_fare_idx = src_df.loc[src_df['Fare'] == 0].index
print(src_df.loc[src_df['Fare'] == 0][['Pclass', 'Parch', 'SibSp']].sort_values(by=['Pclass']))

      Pclass  Parch  SibSp
1263       1      0      0
263        1      0      0
822        1      0      0
815        1      0      0
1157       1      0      0
633        1      0      0
806        1      0      0
277        2      0      0
413        2      0      0
466        2      0      0
481        2      0      0
674        2      0      0
732        2      0      0
179        3      0      0
271        3      0      0
302        3      0      0
597        3      0      0

Похоже, что это кто-то из гостей или команды, или что-то вроде. Поставлю среднее.

In [11]:
med_fare_1 = src_df.loc[src_df['Fare'] != 0].groupby(['Pclass']).Fare.median()[1]
med_fare_2 = src_df.loc[src_df['Fare'] != 0].groupby(['Pclass']).Fare.median()[2]
med_fare_3 = src_df.loc[src_df['Fare'] != 0].groupby(['Pclass']).Fare.median()[3]

fare_medians = {1: med_fare_1, 2: med_fare_2, 3: med_fare_3}

In [12]:
for index in zero_fare_idx:
    src_df.loc[index, 'Fare'] = fare_medians[src_df.loc[index, 'Pclass']]

Имена. Тут интересно. <br>
    <br>Mr. Обращение к мужчине любого возраста и семейного положения.
    <br>Master. Обращение к мальчику до 16 лет.
    <br>Mrs. Обращение к женщине, о которой нам точно известно что она замужем или вдова.
    <br>Miss. Mlle. Обращение к женщине, о которой нам точно известно что она не замужем.
    <br>Ms. Обращение к женщине, семейный статус которой нам не известен.
    <br>Rev. Обращение к священослужителю.
    <br>Dr. Человек с докторской степенью.
    <br>Sir. Lady. Don. Dona. Jonkheer. Countess. Mme. Дворянские титулы или люди "высокого" происхождения.
    <br>Capt. Col. Major. Офицерские звания.
    <br><br>Это может пригодиться для импутации возраста. Дополнительный фактор определения влияния цвета штанов на выживаемость.

In [13]:
def proceed_name(name: str):
    if 'MR.' in name:
        return 0
    elif 'MRS.' in name:
        return 1
    elif ('MISS.' in name) or ('MLLE.' in name):
        return 2
    elif 'MASTER.' in name:
        return 3
    elif 'REV.' in name:
        return 4
    elif 'MS.' in name:
        return 5
    elif 'DR.' in name:
        return 6
    elif ('SIR.' in name) or ('LADY.' in name) or ('DON.' in name) or ('DONA.' in name) or ('JONKHEER.' in name) or ('COUNTESS.' in name) or ('MME.' in name):
        return 7
    elif ('COL.' in name) or ('MAJOR.' in name) or ('CAPT.' in name):
        return 8
    else:
        return 9

In [14]:
src_df['Name'] = proceed_cat_str(src_df['Name']).map(proceed_name).astype('int')

Из билета, вероятно, тоже можно что-то извлечь. Но я не нашел однозначного алгоритма формирования номера. Поэтому выкину.

Каюта. Не бесполезный параметр. Но класс у нас уже есть, а как ТОЧНО определить каюту я не нашел. Можно пойти длинным путем и попробовать намайнить в интернете или поискать некую взаимосвязь между имеющимися данными и каютой. Но в данной конкретной работе я смысла в этом не вижу. Поэтому удалю.

In [15]:
src_df.drop(['Ticket', 'Cabin'], inplace=True, axis=1)

In [16]:
src_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0.0,3,0,0,22.0,1,0,7.2500,2
1,2,1.0,1,1,1,38.0,1,0,71.2833,0
2,3,1.0,3,2,1,26.0,0,0,7.9250,2
3,4,1.0,1,1,1,35.0,1,0,53.1000,2
4,5,0.0,3,0,0,35.0,0,0,8.0500,2

In [17]:
print(src_df.isna().sum())

PassengerId      0
Survived       418
Pclass           0
Name             0
Sex              0
Age            263
SibSp            0
Parch            0
Fare             0
Embarked         0
dtype: int64

Осталось импутировать возраст. Буду импутировать средним.

Посмотрим как выглядит средний возраст по имени и классу. Сюда бы, конечно, еще бы родственников. Но датасет слишком маленький.

In [18]:
mean_age_by_name_and_class = src_df.loc[~src_df['Age'].isna()].groupby(['Name', 'Pclass']).mean()['Age']
print(mean_age_by_name_and_class)

Name  Pclass
0     1         41.450758
      2         32.346715
      3         28.318910
1     1         43.208955
      2         33.518519
      3         32.326531
2     1         30.131148
      2         20.717083
      3         17.360874
3     1          6.984000
      2          2.757273
      3          6.090000
4     2         41.250000
5     2         28.000000
6     1         45.600000
      2         38.500000
7     1         38.714286
8     1         54.714286
Name: Age, dtype: float64

Немного неудобно смотреть, но всё логично. Аристократы и офицеры в первом, ученые в первом-втором, женщины с неизветным статусом и священники во втором, ну и все остальные кому как повезло.

In [19]:
age_na_idx = src_df.loc[src_df['Age'].isna()].index
print(age_na_idx)

Int64Index([   5,   17,   19,   26,   28,   29,   31,   32,   36,   42,
            ...
            1256, 1257, 1271, 1273, 1275, 1299, 1301, 1304, 1307, 1308],
           dtype='int64', length=263)

In [20]:
for index in age_na_idx:
    name_v = int(src_df.loc[index, 'Name'])
    class_v = int(src_df.loc[index, 'Pclass'])
    age_m = np.int(mean_age_by_name_and_class[name_v][class_v])
    src_df.loc[index, 'Age'] = age_m
    #print(int(mean_age_by_name_and_class[name_v][class_v]))
    print(index, src_df.loc[index, 'Age'])

5 28.0
17 32.0
19 32.0
26 28.0
28 17.0
29 28.0
31 43.0
32 17.0
36 28.0
42 28.0
45 28.0
46 28.0
47 17.0
48 28.0
55 41.0
64 41.0
65 6.0
76 28.0
77 28.0
82 17.0
87 28.0
95 28.0
101 28.0
107 28.0
109 17.0
121 28.0
126 28.0
128 17.0
140 32.0
154 28.0
158 28.0
159 6.0
166 43.0
168 41.0
176 6.0
180 17.0
181 32.0
185 41.0
186 32.0
196 28.0
198 17.0
201 28.0
214 28.0
223 28.0
229 17.0
235 17.0
240 17.0
241 17.0
250 28.0
256 43.0
260 28.0
264 17.0
270 41.0
274 17.0
277 32.0
284 41.0
295 41.0
298 41.0
300 17.0
301 28.0
303 20.0
304 28.0
306 30.0
324 28.0
330 17.0
334 43.0
335 28.0
347 32.0
351 41.0
354 28.0
358 17.0
359 17.0
364 28.0
367 32.0
368 17.0
375 43.0
384 28.0
388 28.0
409 17.0
410 28.0
411 28.0
413 32.0
415 32.0
420 28.0
425 28.0
428 28.0
431 32.0
444 28.0
451 28.0
454 28.0
457 43.0
459 28.0
464 28.0
466 32.0
468 28.0
470 28.0
475 41.0
481 32.0
485 17.0
490 28.0
495 28.0
497 28.0
502 17.0
507 41.0
511 28.0
517 28.0
522 28.0
524 28.0
527 41.0
531 28.0
533 32.0
538 28.0
547 32.0
552 28.0
557 41.0
560 28.0
563 28.0
564 17.0
568 28.0
573 17.0
578 32.0
584 28.0
589 28.0
593 17.0
596 20.0
598 28.0
601 28.0
602 41.0
611 28.0
612 17.0
613 28.0
629 28.0
633 41.0
639 28.0
643 28.0
648 28.0
650 28.0
653 17.0
656 28.0
667 28.0
669 43.0
674 32.0
680 17.0
692 28.0
697 17.0
709 6.0
711 41.0
718 28.0
727 17.0
732 32.0
738 28.0
739 28.0
740 41.0
760 28.0
766 45.0
768 28.0
773 28.0
776 28.0
778 28.0
783 28.0
790 28.0
792 17.0
793 41.0
815 41.0
825 28.0
826 28.0
828 28.0
832 28.0
837 28.0
839 41.0
846 28.0
849 43.0
859 28.0
863 17.0
868 28.0
878 28.0
888 17.0
901 28.0
913 43.0
920 28.0
924 32.0
927 17.0
930 28.0
932 41.0
938 28.0
945 32.0
949 28.0
956 33.0
967 28.0
974 28.0
975 32.0
976 28.0

KeyError: 3